.vs/
gueepo2D/bin/
gueepo2D/binobj/

# Visual Studio 2019 Files
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# GNU Make
Makefile

# SDL2
# SDL2 is not distributed with the engine (at least not for now)
SDL2.dll
gueepo2D/thirdparty/SDL2-2.0.16/